<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 1. PreProcessors -->
    <bean id="preProcessorToUpper" class="fr.fortytwo.spring.impl.PreProcessorToUpperImpl"/>
    <bean id="preProcessorToLower" class="fr.fortytwo.spring.impl.PreProcessorToLowerImpl"/>

    <!-- 2. Renderers (depend on PreProcessor) -->
    <bean id="rendererStandard" class="fr.fortytwo.spring.impl.RendererStandardImpl">
        <constructor-arg ref="preProcessorToUpper"/>
    </bean>

    <bean id="rendererErr" class="fr.fortytwo.spring.impl.RendererErrImpl">
        <constructor-arg ref="preProcessorToUpper"/>
    </bean>

    <!-- 3. Printers (depend on Renderer) -->
    <bean id="printerWithPrefix" class="fr.fortytwo.spring.impl.PrinterWithPrefixImpl">
        <constructor-arg ref="rendererErr"/>
        <property name="prefix" value="Prefix"/>
    </bean>

    <bean id="printerWithDateTime" class="fr.fortytwo.spring.PrinterWithDateTimeImpl">
        <constructor-arg ref="rendererStandard"/>
    </bean>

</beans>